body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #343a46;
    color: white;
    margin: 0;
    padding: 0;
}

button, input {
    font-family: 'Trebuchet MS', sans-serif;
    padding: 1.2vh;
    background-color: #171A1F;
    color: white;
    border: none;
    font-size: 1.5vh;
    border-radius: 0.7vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #737c8b;
    padding: 1.6vh 2.3vh;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

.account-icon {
    width: 4vh;
    height: 4vh;
}

.container {
    display: flex;
}

.sidebar {
    width: 25vw;
    background-color: #525a66;
    padding: 1.5vh;
    height: 100%;
}

.content {
    flex-grow: 1;
    padding: 1.5vh;
}

.period-button {
    display: block;
    width: 100%;
    margin-bottom: 1vh;
    text-align: left;
    cursor: pointer;
}

.calendar {
    margin-bottom: 1vh;
}

.date {
    margin-bottom: 1vh;
}

.undone-tasks-checkbox {
    display: flex;
    gap: 0.5vh;
}

.tasks {
    background-color: #737c8b;
    padding: 1vh;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-button {
    padding: 1.3vh 2.5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8vh;
}

.sorting-icon {
    width: 1.7vh;
    height: 1.2vh;
}

.tasks {
    border-radius: 0.7vh;
}

.tasks div:not(:last-child) {
    margin-bottom: 1vh;
}

.task-item {
    background-color: #171A1F;
    padding: 0.5vh 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.7vh;
}

.todo-info {
    width: 80%;
}

.task-title {
    font-weight: bold;
}

.done-task-checkbox {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.task-checkbox {
    width: 2vh;
    height: 2vh;
}

.modal-content {
    display: none;
    padding: 2vh;
    background-color: #ffffff;
}